<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Distill In Yrrah </title>
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
        <header></header>
        <main>
            <section id="top">
                <h1> Our Story </h1>
                <p class="text_container">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi quia laboriosam eveniet ipsum suscipit aliquam quis dolores similique ad, aperiam odit optio illo, praesentium mollitia in modi. Aliquid, sequi iste!
                    Fuga vel laudantium inventore reprehenderit, nemo architecto a, esse nihil voluptates sapiente debitis assumenda expedita dicta quae praesentium voluptatum sequi eaque sint, veritatis odit? Repellendus perspiciatis esse assumenda neque sit?
                </p>
            </section>
            <section id="btm">
                <div>
                    <h2> Important Dates </h2>
                    <ul id="dateslist">
                        <li class="datelist" id="1800"> <span> 1800 : US departure                           </span> </li>
						<li class="datelist" id="1805"> <span> 1805 : The idea takes off                     </span> </li>
						<li class="datelist" id="1806"> <span> 1806 : Creation of the bar                    </span> </li>
						<li class="datelist" id="1810"> <span> 1810 : Creation of the winery                 </span> </li>
						<li class="datelist" id="1870"> <span> 1870 : Official supplier to the Elysée Palace </span> </li>
						<li class="datelist" id="1905"> <span> 1905 : Medal of honor (postum)                </span> </li>
						<li class="datelist" id="1940"> <span> 1940 : Plays a role in the Resistance         </span> </li>
						<li class="datelist" id="1980"> <span> 1980 : Voted best whiskey in the world        </span> </li>
						<li class="datelist" id="2005"> <span> 2005 : Voted best rum in the world            </span> </li>
                    </ul>
                </div>
                <hr>
                <div>
                    <h2> Values </h2>
                    <p id="datestxt"></p>
                </div>
            </section>
        </main>
        <footer></footer>
        <script src="../js/about.js"></script>
        <script src="../js/template_script.js"></script>
    </body>
</html>
