<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/simple-line-icons.css">
</head>
<body>
            <!--
            <img src="../images/wavee.png" alt="wave" id="wave">
            <img src="../images/sand.png" alt="sand" id="sand">
            -->

            <div class="text">
                <div class="contact">
                    <p>Legal</p>
                    <p>Siren</p>
                </div>
                <div class="contact">
                    <p>Mail us <span class="icon-user"></span></p>
                    <p>Call us <span class="icon-phone"></span></p>
                    <p>Find us <span class="icon-map"></span></p>
                </div>
                <p>All right reserved DistillInYrrah &copy; 1800-2025</p>
            </div>
</body>
</html>

