<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/simple-line-icons.css">
</head>
<body>
            <img id="bato" src="../images/bato.png" alt="bato-sur-lo">
            <div class="text">
                <p><img src="../images/scroll-icon.svg" alt="sealed-scroll"></span>Mail us</p>
                <p> <img src="../images/find-us-icon.svg" alt="map">Find us</p>
                <p> <img src="../images/med-trumpet.svg" alt="call">Call us</p>
            </div>
            <p id="copyright">All right reserved DistillInYrrah &copy; 1800-2025</p>
</body>
</html>

