<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/gallery.css">
    <title>Gallery</title>

</head>
<body>
    <header></header>
    <main class="main">
        <section class="section_titre">
            <h1>Breathtaking scenery</h1>
            <h2>For unforgettable moments</h2>

        </section>
        <section class="section_vid">
            <video controls class="vid">
                <source src="../images/placeholder_gallery_video.mp4" type="video/mp4">
            </video>
        </section>
        <section class="section_img">
            <div class="image">
                <img src="../images/placeholder_gallery_img.png" alt="placeholder">
            </div>
            <div class="image">
                <img src="../images/placeholder_gallery_img.png" alt="placeholder">
            </div>
            <div class="image">
                <img src="../images/placeholder_gallery_img.png" alt="placeholder">
            </div>
            <div class="image">
                <img src="../images/placeholder_gallery_img.png" alt="placeholder">
            </div>
            <!--Alors jsp pourquoi mais dans l'html y'a 4 images mais sur la page y'en a que 3 qui s'affichent (il en manque 1 à chaque fois)-->

        </section>
    </main>
    <footer></footer>
    <script src="../js/template_script.js"></script>
</body>
</html>