<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/gallery.css">
    <title>Gallery</title>

</head>
<body>
    <header></header>
        <section class="section_titre">
            <h1>Breathtaking scenery</h1>
            <h2>For unforgettable moments</h2>
            <img class="ink-stain-1" src="../images/ink-stain-1.png" alt="ink-stain">

        </section>
        <section class="section_vid">
            <img onclick="testVid()" class="frame" src="../images/frame-pirate.png" alt="frame">
            <video controls class="vid" id="gallery-vid">
                <source src="../images/gallery-cocktail-video.mp4" type="video/mp4">
            </video>
        </section>
        <section class="section_img">
            <img  class="pk-ca-marche-pas" src="../images/gallery-img-1.jpg" alt="placeholder">
            <img src="../images/gallery-img-2.avif" alt="placeholder">
            <img src="../images/gallery-img-3.jpg" alt="placeholder">
        </section>
    </main>
    <footer></footer>
    <script src="../js/template_script.js"></script>
    <script>
        let vid = document.getElementById("gallery-vid");

        function testVid() {
            if (vid.paused) {
                vid.play();
            } else {
                vid.pause();
            }
        }
    </script>
</body>
</html>