<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base_template.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-left">
                <button class="custom-btn btn-2"><a href="about.html">About</a></button>
                <button class="custom-btn btn-2"><a href="whereTo.html">Come</a></button>
            </div>

            <div class="navbar-right">
                <button class="custom-btn btn-2"><a href="gallery.html">Gallery</a></button>
                <button class="custom-btn btn-2"><a href="shop.html">Shop</a></button>
            </div>
        </div>
        <a href="../templates/index.html"><img src="../images/boat_helm.png" alt="boat_helm" id="boat_helm"></a>
    </header>
</body>
</html>

