<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - DistillInYrah</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header></header>
    <div class="header2">
        <div class="buttons_container">
            <button class="custom-btn btn-1">Reserve</button>
            <button class="custom-btn btn-1">Menu</button>
        </div>
    </div>


    <article class="home_bottle">
        <img src="../images/logo-empire-star-wars-1.jpg" alt="logo" width="300" height="300" class="logo_index">
        <div class="text_container_index">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio soluta veniam eos explicabo, 
            doloremque, obcaecati rem aspernatur hic unde delectus autem necessitatibus mollitia ipsam at corporis optio officiis nulla a.
        </div>
        <img src="../images/mini-botella-whisky-jack-daniels.png" alt="product" class="bottle_index">
        <button class="custom-btn-index btn-16"><a href="shop.html">View in Shop</a></button>
    </article>
    <article class="home_bottle">
        <img src="../images/logo-empire-star-wars-1.jpg" alt="logo" width="300" height="300" class="logo_index">
        <div class="text_container_index">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio soluta veniam eos explicabo, 
            doloremque, obcaecati rem aspernatur hic unde delectus autem necessitatibus mollitia ipsam at corporis optio officiis nulla a.
        </div>
        <img src="../images/mini-botella-whisky-jack-daniels.png" alt="product" class="bottle_index">
        <button class="custom-btn-index btn-16"><a href="shop.html">View in Shop</a></button>
    </article>
    
    <footer></footer>

    <!-- Inclure le script template.js -->
    <script src="../js/template_script.js"></script>
</body>
</html>
