<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - DistillInYrrah</title>
    <link rel="stylesheet" href="../css/shop.css">

</head>
<body>
    <header></header>
    <h1>SHOP</h1>


    <!-- Articles du shop -->

    <!-- Article 1 -->
    <section>
        <article class="shopArticle">
            <img class="product" src="../images/mini-botella-whisky-jack-daniels.png" alt="product">
            <div class="stars">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
        
            </div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cum ea facilis praesentium? Corporis, quos natus. Quis vel minima eligendi culpa nemo, distinctio sit possimus, natus officia vitae a qui?</h2>
        </article>

        <!-- Article 2 -->

        <article class="shopArticle">
            <img class="product" src="../images/mini-botella-whisky-jack-daniels.png" alt="product">
            <div class="stars">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
            </div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cum ea facilis praesentium? Corporis, quos natus. Quis vel minima eligendi culpa nemo, distinctio sit possimus, natus officia vitae a qui?</h2>
        </article>


        <!-- Article 3 -->

        <article class="shopArticle">
            <img class="product" src="../images/mini-botella-whisky-jack-daniels.png" alt="product">
                <div class="stars">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
            </div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cum ea facilis praesentium? Corporis, quos natus. Quis vel minima eligendi culpa nemo, distinctio sit possimus, natus officia vitae a qui?</h2>
        </article>


        <!-- Article 4 -->

        <article class="shopArticle">
            <img class="product" src="../images/mini-botella-whisky-jack-daniels.png" alt="product">
            <div class="stars">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
                <img class="star" src="../images/star.svg" alt="star">
            </div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cum ea facilis praesentium? Corporis, quos natus. Quis vel minima eligendi culpa nemo, distinctio sit possimus, natus officia vitae a qui?</h2>
        </article>
    </section>
    <footer></footer>
    <script src="../js/template_script.js"></script>
</body>
</html>