<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="../css/whereTo.css">
</head>
<body>
    <header></header>
    <h1>Where to Find us</h1>
    <div class="map">
        <div class="text_map">
            <p><span class="icon-user"></span>> Mail us </p>
            <p><span class="icon-phone"></span>> Call us </p>
            <p> <span class="icon-map"></span>> Find us </p>
        </div>
        <div class="map_container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.0730000000004!2d2.352221315674805!3d48.85661407928592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x7e1e6a6f0e3e7c7b!2sParis!5e0!3m2!1sfr!2sfr!4v1615883660004!5m2!1sfr!2sfr" width="1000" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            
        </div>

    </div>

    <footer></footer>
    <script src="../js/template_script.js"></script>
</body>
</html>