
html{
    max-width: 100%;
    height:100%;
    overflow-x: hidden;
}

body{
  font-family: "skullsandcrossbones";
  background-image: url('../images/treasure-map-background.png');
}

  #boat_helm {
    z-index: 10;
    right: 30%;
    top: -65%;
    position: absolute;
    animation: rotateAnimation 20s linear infinite;
    -webkit-animation: rotateAnimation 20s linear infinite;

}
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@font-face {
  font-family: 'skullsandcrossbones';
  src: url('../fonts/skullsandcrossbones.woff2') format('woff2'),
      url('../fonts/skullsandcrossbones.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*header*/

.navbar {
  z-index: 10;
    position: relative;
    background-image: url("../images/boat_plank.jpg");
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0px 20px 0px;
    width: 100%;

}
.navbar a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-family: "skullsandcrossbones";
}
#navbar-left {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        border: 0;
        flex: 1 0 35%;
        margin-left: 2em;
        z-index: 2;
}
#navbar-right {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 35%;
    margin-left: auto;
    margin-right: 2em ;
    z-index: 2;
}

/*footer*/
footer{
  margin-top: auto;
  user-select: none;
}

.text {
  background-image: url("../images/beach.gif");
  margin-top: auto;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.text img {
  width: 50px;
}

.text p {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5em;
  margin-top: 5em;
}

#copyright {
  position: absolute;
  margin: -2em 0 0 95em;
}

#bato {
  position: absolute;
  width: 20vw;
  margin-left: 40vw;
}

.custom-btn-header {
  width: 130px;
  height: 40px;
  color: #fff;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-2 {
  background: linear-gradient(0deg,rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
  border: none;
  
}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

