html{
    width: 100%;
    height:100%;
}
/*Browser reset code*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'skullsandcrossbones', sans-serif;
}

@font-face {
    font-family: 'skullsandcrossbones';
    src: url('../fonts/skullsandcrossbones.woff2') format('woff2'),
        url('../fonts/skullsandcrossbones.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    scrollbar-width: thin;
    scrollbar-color: #231B1B #E6D9C1;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #E6D9C1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #231B1B;
    border-radius: 20px;
    border: 3px solid #E6D9C1;
  }

*::selection {
    background-color: #231B1B;
    color: #E6D9C1;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
    align-self: center;
    margin-top: 10em;
    font-family: "skullsandcrossbones";
    user-select: text;
}

section {
    width: 90%;
    height: fit-content;
    border: 10px red;
}

.section_titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20em;
    margin-bottom: 10em;
    margin-left: 5%;
    z-index: 2;
}

.ink-stain-1 {
    position: absolute;
    width: 10%;
    margin-top: 40px;
    margin-left: -60%;
    z-index: 1;
}

.section_vid {
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
    margin-left: 5%;
}

.frame {
    position: absolute;
    width: 80%;
    height: 90%; 
    margin-top: -25px;
    margin-left: -35px;
}

.section_img {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15em;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10em;
    margin-left: 10%;
    width: 80%;
    height: 30em;
}

.section_img img {
    width: 60em;
    height: 30em;
}

.pk-ca-marche-pas {
    margin-left: 66em;
}

h1 {
    font-size: 8em;
}
h2 {
    font-size: 4em;
}

.vid {
    width: 80%;
}