html, body{
    width: 100%;
    height:100%;
}
/*Browser reset code*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'skullsandcrossbones';
    src: url('../fonts/skullsandcrossbones.woff2') format('woff2'),
        url('../fonts/skullsandcrossbones.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*::selection {
    background-color: #231B1B;
    color: #E6D9C1;
}

body {
    background-image: url('../images/treasure-map-background.png');
}

.header2{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../images/pub.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttons_container{
    display: flex;
    gap: 2em;
}

.home_bottle{
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-top: 6px solid black;
}

.logo_index{
    position: absolute;
    left: 10px;
    top: 0;
}
.text_container_index{
    width: 33%;
}
.bottle_index{
    position: relative;
    padding: 100px 20px;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.bottle_index:hover{
    background: rgba(0,0,0,0.5);
    color: black;
    transition: 0.5s;
}


.custom-btn-index{
    position: absolute;
    bottom: 10em;
    border: 2px solid purple;
    width: 170px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    background: transparent;
    cursor: pointer;
}
.custom-btn-index:hover{
    background: linear-gradient(0deg, pink 0%, #583058 100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.custom-btn-index>*{
    color: purple;
    text-decoration: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  

/* 1 */
.btn-1 {
    background: linear-gradient(0deg, rgb(255,151,0) 0%, #FFC670 100%);
    border: none;
}
  .btn-1:hover {
  background: linear-gradient(0deg, #fcea9c 0%, #fcd29c 100%);
  }

